/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  width: 800px;
  margin: 20px 100px 0px;
  background: #fff;
  padding: 35px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header container (Title + Buttons) */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.page-title {
  font-size: 1.5rem;
  color: #0052cc;
  font-weight: 500;
  margin: 0;
}

/* Separator line */
.separator {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 20px 0;
}

/* Form header (buttons) */
.form-header {
  display: flex;
  gap: 10px;
}

.form-button {
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  font-size: 0.9rem;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}
.deadline-item{
  background-color: #f7f7f7;
  padding:20px;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 400px;
}
.save-button {
  background-color: #4318ff;
}

.save-button:hover {
  background-color: #3a10e0;
}

.edit-button {
  background-color: #4318ff;
  margin-right: 9px;
}

.edit-button:hover {
  background-color: #3a10e0;
}

.delete-button {
  background-color: #3a10e0;
}

.delete-button:hover {
  background-color: #c02d2d;
}

/* Form styling */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-size: 1rem;
  color: #2b3674;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background: #f7f7f7;
  font-size: 1rem;
  color: #7d7d7d;
}

textarea.form-input {
  resize: none;
  height: 80px;
}

select.form-input {
  cursor: pointer;
}

/* Input focus */
.form-input:focus {
  outline: none;
  border-color: #0052cc;
  background-color: #ffffff;
  color: #2b3674;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Placeholder styling */
.form-input::placeholder {
  color: #bcbcbc;
}
