.date-inputs {
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
}

.date-inputs select {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background: #f7f7f7;
  font-size: 1rem;
  color: #7d7d7d;
  position: relative;
}

/* Line between Day and Month */
.date-inputs select:nth-child(1)::after {
  content: "";
  position: absolute;
  right: -15px; /* Adjust spacing */
  top: 0;
  bottom: 0;
  width: 1px; /* Width of the line */
  background-color: #ccc;
}

/* Line between Month and Year */
.date-inputs select:nth-child(2)::after {
  content: "";
  position: absolute;
  right: -15px; /* Adjust spacing */
  top: 0;
  bottom: 0;
  width: 1px; /* Width of the line */
  background-color: #ccc;
}

.add-event-container {
  background: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.add-event-container h3 {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
  color: #0052CC;
  font-weight: 600;
  position: relative;
  padding-bottom: 10px; /* Add some spacing for the line */
  border-bottom: 1px solid #ccc; /* Line under the title */
}
.add-event-container h3::after {
  content: "";
  display: block;
  width: 100%; /* Full width of the container */
  height: 1px; /* Thickness of the line */
  background: #ccc; /* Line color */
  position: absolute;
  bottom: 0;
  left: 0;
}

.add-event-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;

}


.form-group label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color:#2B3674;
}

.icon {
  color: #848484;
  font-size: 1rem;
}

.date-inputs {
  display: flex;
  gap: 30px;
}

.date-inputs select,
textarea,
input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background: #f7f7f7;
  font-size: 1rem;
  color:#7d7d7d;
}

textarea {
  resize: none;
}

.form-actions {
  display: flex;
  justify-content:right;
  gap: 30px;
}

.form-actions button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;

}

.save-btn {
  background: #4318FF;
}

.save-btn:hover {
  background: #4318FF;
}

.edit-btn {
  background: #4318FF;
}

.edit-btn:hover {
  background: #4318FF;
}

.delete-btn {
  background: #4318FF;
}

.delete-btn:hover {
  background: #4318FF;
}