.form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  select, input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .notification-content p {
    margin: 5px 0;
  }
  
  .notification-actions button {
    margin-right: 10px;
  }
  
  .edit-button, .delete-button, .send-button {
    background-color: #3a10e0;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 14px;
  }
  
  .edit-button:hover, .delete-button:hover, .send-button:hover {
    background-color: #0056b3;
  }
  